{% load common_tags %}


<table class="popup-details w-100 mb-3">
    <tr>
    {% for set in detail_fields %}
        <td class="cell-container">

            <div class="card">
                {% if set.0 %}
                <div class="card-header py-1 px-2">
                    {{ set.0 }}
                </div>
                {% endif %}
                <div class="card-body p-0">
                    <table class="table table-bordered mb-0 w-100">
                    <tbody>
                    {% for x in set.1 %}
                        <tr>
                            <td class="{{ x.name }} label">{{ x.label|replace:" ,<span class='transparent'>_</span>"|safe }}</td>
                            <td class="{{ x.name }} value w-100">{{ object|dotted_dict:x.attribute|default:"-" }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>

        </td>
    {% endfor %}
    </tr>
</table> 