{% load display_fields common_tags %}


<div class="btn-group" role="group">
    <a href='#' class="btn btn-outline-secondary btn-xs straight-edges" data-toggle="modal" data-target="#detail-modal_{{ obj.pk }}">Details</a>

    {% if actions %}
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-secondary dropdown-toggle btn-xs straight-edges" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">                                              
            <span class="caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right straight-edges p-0" aria-labelledby="btnGroupDrop1">
            {% for url_dict in actions %}
                <a class="dropdown-item dropdown-item-xs {{ url_dict.class }}" 
                    href='{{ obj|generate_url_from_dict:url_dict }}'>
                    {% if url_dict.icon %}<i class="fa fa-{{ url_dict.icon }}"></i>{% endif %}
                    {{ url_dict.label }}
                </a>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
</div>


{% if fields.detail_fields %}
<div class="modal fade adminx" id="detail-modal_{{ obj.pk }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content straight-edges">
            <div class="modal-header py-2 bg-brand straight-edges">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a href='{% url "kdash_adminx:detail" config_path obj.pk %}'
                   class="btn btn-info btn-xss straight-edges pull-right mb-2 view-full-details">
                    <i class="fa fa-eye"></i> View full details 
                </a>
                
                {% include "kdash_adminx/includes/detail_display.html" with detail_fields=fields.detail_fields object=obj %}
                
            </div>
        </div>
    </div>
</div>
{% endif %}