.card.dashs{
    border-radius: 0;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border: none;
}

.card.dashs .card-block{
    padding: 0.5em 1em;
}

.card.dashs .list-group-item p{
    margin-bottom: 0;
    font-weight: normal;
}

.card.dashs .list-group-item {
    padding: 0.5em 1em;
    font-size: 15px;
    font-weight: 600;
    border-radius: 0;
}


.card.dashs .sidebar-nav-v1 .list-group-item a:after {
    content: "\f101";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    right: 10px;
    top: 10px;
}

.card.dashs>.list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-radius: 0;
}

.card.dashs .list-group-item.active, 
.card.dashs .list-group-item.active:focus, 
.card.dashs .list-group-item.active:hover {
    color: #333;
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    border-radius: 0;
}

.card.dashs .list-group-item.active a {
    color: #111;
}

.card.dashs .list-group a, 
.card.dashs .list-group a:hover,
.card.dashs .list-group a:focus {
    color: #823593;
    text-decoration: none;
    display: block;
}

.card.dashs .card-block.header{
    /*background: #823593;
    color: #fff;*/
    border-bottom: 1px solid #ccc;
    border-top: 4px solid #847f7f;
}

.card.dashs .card-block.header h4{
    margin-bottom: 0;
}

.card.dashs .card-block.header p{
    font-size: 13px
}

.card.dashs .table td, .card.dashs .table th {
    padding: .25rem 0.5rem;
    font-size: 14px;
}

.card.dashs .thead-inverse th {
    color: #000;
    font-weight: 600;

    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
}



.card.dashs .list-group-item.list-toggle a.collapsed:after {
    content: "\f078";  
}

.card.dashs .list-group-item.list-toggle a:after {
    content: "\f077";  
}

.card.dashs .list-group-item.list-toggle ul{
    padding: 10px 0;
}

.card.dashs .list-group-item.list-toggle ul>li.list-group-item{
    border: none;
    font-size: 95%;
    padding: 0.3em 1em;
    /*background: #f5f5f5;*/
    /*border-color: #f5f5f5;*/
}

.card.dashs .list-group-item.list-toggle ul>li.list-group-item a:after{
    content: ""; 
}

.card.dashs .list-group-item.list-toggle ul>li.list-group-item.active{
    background: #fff
}


.card.dashs .list-group-item {
    background-color: transparent; 
}