{% extends 'kdash/base.html' %}
{% load i18n admin_urls static admin_modify %}

{% block head %}
    <link rel="stylesheet" type="text/css" href='{% static "kdashmin/css/dj_admin.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "kdashmin/css/admin.css" %}'>
    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block responsive %}
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
        {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
    {% endblock %}
{% endblock %}


{% block bodyclass %}kdashmin{% endblock %}

{% block all_right_content %}
<div class="kdashmin-main">
    {% block pretitle %}{% endblock %}
    {% block content_title %}{% endblock %}

    <div class="row">
        {% block content_row %}
        <div class="col-9">
            <div class="card dash-main">
                <div class="card-body dash-main shadowy">
                    {% block right_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="col-3">
            {% block right_content_side %}
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}


{% block foot %}
{% endblock %}