{% extends "kdashmin/base_site.html" %}
{% load i18n admin_urls static admin_list %}
{% load template_design humanize %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}" />
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% if action_form %}{% if actions_on_top or actions_on_bottom %}
<script type="text/javascript">
(function($) {
    $(document).ready(function($) {
        $("tr input.action-select").actions();
    });
})(django.jQuery);
</script>
{% endif %}{% endif %}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
&rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}

{% block content_title %}
  <h1>{{ custom_verbose_name_plural|default:cl.opts.verbose_name_plural|title }}</h1>
{% endblock %}


{% block right_content %}
  <div id="content-main">

    {% if cl.formset.errors %}
        <p class="errornote">
        {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
        </p>
        {{ cl.formset.non_form_errors }}
    {% endif %}

    <div class="module{% if cl.has_filters_ %} filtered{% endif %}" id="changelist">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}

      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
  </div>
{% endblock %}


{% block right_content_side %}
    {% block object-tools %}
        {% if has_add_permission or cl.opts.model.changelist_links or objectactions %}
        <div class="module full">
            <table class="table table-bordered">
                <caption>Actions</caption>
                <tbody>
                {% if has_add_permission %}
                    <tr>
                      <td>
                        <a href="add/{% if custom_add_params %}{{ custom_add_params }}{% endif %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                        {% if custom_verbose_name %}
                            Add {{ custom_verbose_name }}
                        {% else %}
                          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
                        {% endif %}
                        </a>
                      </td>
                    </tr>
                {% endif %}

                {% for action in cl.opts.model.changelist_links %}
                <tr>
                    <td>
                        <a href="{{ action.1 }}" class="{{ action.2 }}">{{ action.0 }}</a>
                    </td>
                </tr>
                {% endfor %}

                {% for tool in objectactions %}
                    <tr class="objectaction-item" data-tool-name="{{ tool.name }}">
                        <td>
                        {% url tools_view_name tool=tool.name as action_url %}
                        <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
                            {% for k, v in tool.custom_attrs.items %}
                                {{ k }}="{{ v }}"
                            {% endfor %}
                            class="{{ tool.standard_attrs.class }}">
                            {{ tool.label|safe }}
                        </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
        {% endif %}
    {% endblock %}

    {# list_summary cl.opts.app_label cl.opts.model_name cl.result_list #}
    {% if value_summary %}
        <table class="module full" style="width: 100%">
            <caption>Overview</caption>
            <tbody>
                {% for t in value_summary %}
                    <tr>
                        <td>{{ t.0|capfirst }}</td>
                        <td>{{ t.1|floatformat:2|intcomma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% block filters %}

        {% if cl.has_filters %}
            {% if filter_form %}
                <div class="module full filter-form">
                    <form action='{% url "kdash:proxy_filter" %}' method="get">

                        <table class="table table-bordered filter-table">
                            <caption>Filters</caption>
                            {{ filter_form.as_table }}

                            <tr>
                                <td>
                                    <a href="." class="small mt-2">Reset filters</a>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary btn-sm float-right">Filter</button>
                                </td>
                            </tr>
                        </table>

                    </form>
                </div>
            {% else %}
                <div class="module">
                <div id="changelist-filter">
                    <h2>{% trans 'Filter' %}</h2>
                    {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                </div>
                </div>
            {% endif %}
        {% endif %}

      {% endblock %}

{% endblock %}
