{% extends "kdashmin/base_site.html" %}
{% load i18n admin_urls static admin_modify web_tags %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endblock %}
{% endif %}

{% block content_title %}
    <h4>{{ title }}</h4>
{% endblock %}

{% block right_content_side %}
<!-- This is only for javascript files to get id of change object -->
<span style="display: none" id="id_original_object">{{ original.pk }}</span>
<span style="display: none" id="id_original_app_model">{{ opts.app_label }}.{{ opts.model_name }}</span>

{% if change %}
    {% if not is_popup and original.get_absolute_url %}
        {% block object-tools-items %}
            <div class="module full">
                <table class="table table-bordered">
                  <caption>Actions</caption>
                   <tbody>
                        {% comment %}
                        <tr>
                            <td><a href="history/" class="historylink">{% trans "History" %}</a></td>
                        </tr>
                        {% endcomment %}
                        <tr>
                            <td>
                                <a href="{{ original.get_absolute_url }}" class="viewsitelink">{% trans "View details" %}</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {% for action in original|get_admin_actions:request %}
                <div class="module full">
                    <table>
                        <caption>{{ action.name }}</caption>
                        <tbody>
                        {% for x in action.urls %}
                            <tr>
                                <td>
                                    <a href="{{ x.1 }}" {{ x.2 }}>{{ x.0 }}</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endfor %}
        {% endblock %}
    {% endif %}
{% endif %}

{% endblock %}

{% block right_content %}<div id="content-main">

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="{{ is_popup_var }}" value="1" />{% endif %}
{% if to_field %}<input type="hidden" name="{{ to_field_var }}" value="{{ to_field }}" />{% endif %}
{% if save_on_top %}{% block submit_buttons_top %}{% submit_row %}{% endblock %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% if errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% block field_sets %}

{% if adminform.fieldsets|length > 1 %}
    <table style="width: 100%; margin-bottom: 15px">
        {% for fieldset in adminform %}
            {% if forloop.counter0|divisibleby:2 %}<tr>{% endif %}
                <td class="fieldset-box" style="border:1px solid #ccc; padding: 0; margin: 5px"
                    {% if not adminform.fieldsets|length|divisibleby:2 and forloop.counter == adminform.fieldsets|length %}colspan="3"{% endif %}>
                    {% include "admin/includes/fieldset.html" %}
                </td>
                {% if forloop.counter0|divisibleby:2 %}
                    {% if not forloop.last %}
                    <td style="border: none; width: 10px"></td>
                    {% endif %}
                {% else %}
                    <tr style="border: none; height: 15px"></tr>
                {% endif %}
            {#{% if forloop.counter0|divisibleby:2 %}</tr>{% endif %}#}
        {% endfor %}
    </table>
{% else %}
    <table style="width: 100%; margin-bottom: 15px">
        <tr>
            <td style="border:1px solid #ccc;">
                {% for fieldset in adminform %}
                    {% include "admin/includes/fieldset.html" %}
                {% endfor %}
            </td>
        </tr>
    </table>
{% endif %}

{% endblock %}

<!-- <br /> -->

{% block after_field_sets %}{% endblock %}

{% block inline_field_sets %}
{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}
{% endblock %}

{% block after_related_objects %}{% endblock %}

{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}

{% block admin_change_form_document_ready %}
    <script type="text/javascript"
            id="django-admin-form-add-constants"
            src="{% static 'admin/js/change_form.js' %}"
            {% if adminform and add %}
                data-model-name="{{ opts.model_name }}"
            {% endif %}>
    </script>

    <script type="text/javascript">
        function isFormHtml5Valid(form) {
            for (var el of form.querySelectorAll('input,textarea,select')) {
                if(!el.checkValidity())
                    return false;
            }
            return true;
        }

        (function($) {
            $(document).ready(function() {
                $('.add-another').click(function(e) {
                    e.preventDefault();
                    showAddAnotherPopup(this);
                });
                $('.related-lookup').click(function(e) {
                    e.preventDefault();
                    showRelatedObjectLookupPopup(this);
                });
            {% if adminform and add and not adminform.model_admin.allow_serial_scan %}
                $('form#{{ opts.model_name }}_form :input:visible:enabled:first').focus()
            {% endif %}

            $('.submit-row input').click(function(e) {
                // e.preventDefault();
                // $('.submit-row input').css('display', 'none');
                // $('.submit-row select').css('display', 'none');

                $(".submit-row :input").each(function(){
                    // $(this).prop('disabled', true);
                    $(this).css('display', 'none');
                })
                // this.form.submit();

                url = '{% static "website/local/img/loading.gif" %}';
                img_html = '<img src="' + url +'" />'
                $('.submit-row #id_loading').html(img_html);
            });

            });
        })(django.jQuery);

    </script>
{% endblock %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>
{% endblock %}




mySubmitButton.onclick = function() {
  if(this.form && isFormHtml5Valid(this.form))
    this.disabled=true;
  this.form.submit();
}