body.kdashmin{
    background: #eee
}

.kdashmin #changelist-filter {
    position: relative;
    width: 100%;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0;
}

.kdashmin caption {
    caption-side: top;
}

.kdashmin .module h2, .kdashmin .module caption, .kdashmin .inline-group h2 {
    padding: 8px 15px !important;
}

.kdashmin .table td, .kdashmin .table th {
    padding: 0.5rem 0.6rem;
}

.kdashmin .submit-row a.deletelink {
    border-radius: 0;
    height: auto
}

.kdashmin fieldset.collapse:not(.show) {
    display: block;
}

.kdashmin #changelist-filter a{
    font-weight: normal;
    margin-left: 15px;
    font-size: 14px;
}

.kdashmin #changelist #toolbar form #searchbar {
    height: 28px;
}

.kdashmin #changelist #toolbar form input {
    border-radius: 0;
}

.kdashmin h1{
    font-size: 1.8rem;
}

.kdashmin .inline-group .form-row{
    display: table-row;
}

.kdashmin .inline-group table{
    /* border: 1px solid #ddd; */
}

.kdashmin .inline-related{
    border: 1px solid #ddd;
}

.kdashmin .form-row {
    margin-right: 0;
    margin-left: 0;
}

.kdashmin .inline-group .form-row.empty-form {
    display: none;
}

.kdashmin .filter-form .filter-table th{
    font-weight: normal;
    font-size: 80% !important;
    padding: 0.5rem 0.6rem !important;
}