{% if user.is_superuser and kperms_installed %}
    <a href='{% url "kperms:model_perms" x.app_model %}?perm_code={{ object.perm_code }}&smp=1'
        id="id_main_menu_{{ object.pk }}_perm" class="modal-remote d-none">
        <i class="fa fa-user-lock"></i>
    </a>
{% endif %}