

<div class="modal fade" id="id_popup_{{ name }}" tabindex="-1" role="dialog" aria-labelledby="FilterModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content wide straight-edges">
            <div class="modal-header py-2 bg-brand straight-edges">
                <h5 class="modal-title" id="{{ name }}_modal">{{ label|default:name|capfirst }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in summary %}
                            <tr>
                                <td>{{ x.label }}</td>
                                <td>{{ x.value }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm straight-edges" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>