{% load sekizai_tags %}


<div class="modal fade" id="id_popup_{{ name }}" tabindex="-1" role="dialog" aria-labelledby="FilterModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content wide straight-edges">
            <div class="modal-header py-2 bg-brand straight-edges">
                <h5 class="modal-title" id="FilterModal">{{ label|default:name|capfirst }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% if form %}
                    <div class="filter-form controls">
                        <table class="table table-bordered">
                            {{ form.as_table }}
                        </table>
                    </div>
                    <!-- <p>{{ query_text }}</p> -->
                {% else %}
                    No form fields
                {% endif %}
            </div>
            <div class="modal-footer">
                {% if export_as_excel %}
                    <button type="submit" name="format" value="excel"
                            class="btn btn-outline-primary btn-sm straight-edges mr-auto">
                        <i class="fa fa-file"></i>
                        Export Excel
                    </button>
                {% endif %}
                <button type="button" class="btn btn-danger btn-sm straight-edges" data-dismiss="modal">Cancel</button>
                {% if form %}
                    <button type="submit" class="btn btn-success btn-sm straight-edges">Proceed</button>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% if form %}
    {% addtoblock "js" %}
        {{ form.media }}
    {% endaddtoblock %}
{% endif %}