{% extends base_template %}
{% load common_tags sekizai_tags %}

{% block title %}
    {% if page_title %}
        {{ page_title }}
    {% else %}
        {{ dash_info.current_dash.label }}
    {% endif %}
{% endblock %}


{% block left_content %}
<div class="card dashs">
    {% block menu_header %}
        {% if dash_info.visible_dashes %}
        <div class="card-block header menu">
            <h4 class="card-title">Services</h4>
            <p class="card-text">Select a section below</p>
        </div>
        {% endif %}
    {% endblock %}

    <ul class="list-group sidebar-nav-v1" id="sidebar-nav">
        {% for x in dash_info.visible_dashes %}
            {% if not x.children %}
                <li class="list-group-item {% if x.is_active %}active{% endif %}" >
                    <a href='{{ x.url }}' id="id_main_menu_{{ x.pk }}"
                       class="perm-contextmenu">
                        <i class="fa fa-{{ x.icon_class|default:'circle' }}"></i> &nbsp;
                        {{ x.label }}
                    </a>
                </li>
                {% include "kdash/includes/menu_perms.html" with object=x %}
            {% else %}
                <li class="list-group-item list-toggle {% if x.is_active or x.is_parent_active %}active{% endif %}">
                    <a data-toggle="collapse" data-parent="#sidebar-nav" href="#collapse-{{ x.pk }}" id="id_main_menu_{{ x.pk }}"
                       class="perm-contextmenu {% if not x.is_parent_active %}collapsed{% endif %}">
                        <div class="d-flex flex-row">
                            <div class="mr-2">
                                <i class="fa fa-{{ x.icon_class|default:'circle' }}"></i>
                            </div>
                            <div class="d-flex">
                                {{ x.label }}
                            </div>
                        </div>
                    </a>
                    {% include "kdash/includes/menu_perms.html" with object=x %}

                    <ul id="collapse-{{ x.pk }}" class="collapse {% if x.is_active or x.is_parent_active %}show{% endif %}">
                        {% for y in x.children %}
                        {% if y.in_menu %}
                            {% include "kdash/includes/menu_perms.html" with object=y %}

                            {% if y.is_divider %}
                                <li class="list-group-item my-2">
                                    <div id="id_main_menu_{{ y.pk }}" class="perm-contextmenu">
                                        <small>{{ y.label }}</small>
                                        <hr class="" />
                                    </div>
                                </li>
                            {% else %}
                                <li class="list-group-item {% if y.is_active %}active{% endif %}">
                                    {% if y.menu_label %}
                                        <div id="id_main_menu_{{ y.pk }}" class="perm-contextmenu">
                                            {{ y.menu_label }}
                                        </div>
                                    {% else %}
                                        <a href='{{ y.url }}' id="id_main_menu_{{ y.pk }}" class="perm-contextmenu">
                                            <div class="d-flex flex-row">
                                                {% if y.icon_class %}
                                                <div class="mr-2">
                                                    <i class="fa fa-{{ y.icon_class }}"></i>
                                                </div>
                                                {% endif %}
                                                <div class="d-flex">
                                                    {{ y.label }}
                                                </div>
                                            </div>
                                        </a>

                                    {% endif %}
                                </li>
                            {% endif %}

                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</div>

<hr >

    {% addtoblock "js" %}
        {% if user.is_superuser and kperms_installed %}
            {% include "kommons/snippets/load_bootbox.html" %}
            {% include "kperms/includes/load_contextmenu_perms.html" %}
        {% endif %}
    {% endaddtoblock %}

{% endblock %}


{% block right_content %}
<div class="card dashs">

    {% if dash_info.current_dash %}
    <div class="card-block header">
        <div class="d-flex flex-row">
            <div class="mr-auto">
                {% block right_content_header_left %}
                    {% if dash_info.current_dash %}
                        <h4 class="card-title">{{ page_title|default:dash_info.current_dash.label }}</h4>
                        <p class="card-text">{{ page_subtitle|default:dash_info.current_dash.desc }}</p>
                    {% else %}
                        <h4 class="card-title">{{ page_title }}</h4>
                        <p class="card-text">{{ page_subtitle }}</p>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="d-flex align-items-center">
                {% block right_content_header_right %}

                    {% if quick_help %}
                        <a href='javascript:void(0);' class="btn btn-info btn-sm" title="Help"
                            data-toggle="modal" data-target="#id_page_help">
                            <i class="fa fa-info-circle"></i>
                        </a>
                    {% endif %}
                    <a href="" class="btn btn-dark btn-sm" title="Refresh">
                        <i class="fa fa-sync"></i>
                    </a>

                {% endblock %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="card-block body">
        <br>
        {% if dash_info.current_dash.can_view %}
            {% block right_actual_content %}{% endblock %}
        {% else %}
            <p class="text-center text-warning">You don't have permission to view this section.</p>
        {% endif %}
    </div>

</div>

{% if quick_help %}
<!-- Modal -->
<div class="modal fade" id="id_page_help" tabindex="-1" role="dialog"
    aria-labelledby="FilterModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header hide">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    {{ quick_help.title|default:"Help" }}
                </h4>
            </div>
            <div class="modal-body">
                {{ quick_help.body|safe }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}