{% if a_form.fieldsets|length > 1 %}
	<table style="width: 100%">
		{% for fieldset in a_form %}
			{% if forloop.counter0|divisibleby:2 %}<tr>{% endif %}
				<td class="fieldset-box" style="border:1px solid #ccc; padding: 0; margin: 5px"
					{% if not a_form.fieldsets|length|divisibleby:2 and forloop.counter == a_form.fieldsets|length %}colspan="3"{% endif %}>
					{% include "admin/includes/fieldset.html" %}
				</td> 
				{% if forloop.counter0|divisibleby:2 %}				
					{% if not forloop.last %}	 
					<td style="border: none; width: 10px"></td>
					{% endif %}
				{% else %}
					<tr style="border: none; height: 15px"></tr>
				{% endif %}
			{#{% if forloop.counter0|divisibleby:2 %}</tr>{% endif %}#}
		{% endfor %}
	</table>
{% else %} 
	<table style="width: 100%">
		<tr><td style="border:1px solid #ccc;">
		{% for fieldset in a_form %}
			{% include "admin/includes/fieldset.html" %}
		{% endfor %}
		</td></tr>
	</table>
{% endif %}