{% extends "kdash/base.html" %}
{% load sekizai_tags static %}


{% block right_actual_content %}
    <div class="row">
    <div class="col-md-12">

        <div class="row">
        {% for child in child_list.all_dashes %}
            <div class="col-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="mr-3">
                            <i class="fa fa-{{ child.icon_class }} fa-2x"></i>
                        </div>
                        <div class="">
                            <h5 class="card-title m-0">{{ child.label }}</h5>
                            <p class="m-0 small">{{ child.desc }}</p>
                        </div>
                    </div>

                </div>
                <div class="card-footer p-2">
                    <a href="{{ child.url }}" class="btn btn-primary btn-sm straight-edges float-right">
                        <i class="fa fa-eye"></i> View
                    </a>
                </div>
            </div>
            </div>
        {% endfor %}
        </div>

    </div>
    </div>

    {% addtoblock "js" %}
    {% endaddtoblock %}

{% endblock %}