{% extends "kdash/base.html" %} 
{% load sekizai_tags static %}


{% block right_actual_content %}
    <div class="row">
    <div class="col-md-12">

        {% if not object %}
            <h5>Detail: {{ dash_info.current_dash.label }}</h5>
            <p>No record found.</p>

        {% else %}
            <div class="d-flex flex-row mb-2">
                <div class="mr-auto">
                    <h5>Detail: {{ dash_info.current_dash.label }}</h5>
                </div>

                <div class="d-flex align-items-center">
                    {% if delete_url %}
                    <a href="{{ delete_url }}" class="btn btn-danger btn-xss straight-edges mr-1 delete-popup-link"> 
                        <i class="fa fa-trash"></i> Delete </a>
                    {% endif %}

                    {% if change_url %}
                    <a href="{{ change_url }}" class="btn btn-warning btn-xss straight-edges mr-1"> 
                        <i class="fa fa-pencil"></i> Change </a>
                    {% endif %}

                    {% if add_url %}
                    <a href="{{ add_url }}" class="btn btn-primary btn-xss straight-edges"> 
                        <i class="fa fa-plus"></i> Add </a>
                    {% endif %}
                </div>
            </div>

            {% include "kdash_adminx/includes/detail_display.html" with detail_fields=fields.detail_fields %}
        {% endif %}

    </div>
    </div>

    {% addtoblock "js" %}
    <script type="text/javascript" src='{% static "kdash_adminx/js/adminx_actions.js" %}'></script>

    <script type="text/javascript">

        $(document).ready(function(){
            popupDelete();
        }); 

    </script>
    {% endaddtoblock %}

{% endblock %}