{% extends "kdash/base.html" %}
{% load sekizai_tags common_tags pagination_tags static adminx_tags %}


{% block right_actual_content %}
<div class="row">
    <div class="col-md-{% if filter_layout == 'filter-layout-as-sidebar' %}9{% else %}12{% endif %}">

        <div class="d-flex flex-row mb-2">
            <div class="mr-auto">
                <h5>{{ dash_info.current_dash.label }} ({{ object_list.count }})</h5>
            </div>
            <div class="d-flex align-items-center">
                {% if add_url %}
                <a href="{{ add_url }}" class="btn btn-primary btn-xss straight-edges">
                    <i class="fa fa-plus"></i> Add </a>
                {% endif %}

                {% if summary and summary_layout == 'summary-layout-modal' %}
                <a href="javascript:void(0);" class="btn btn-secondary btn-xss straight-edges ml-2" data-toggle="modal" data-target="#id_popup_summary">
                    <i class="fa fa-list"></i> Summary </a>
                {% endif %}

                {% if sort_form %}
                <a href="javascript:void(0);" class="btn btn-secondary btn-xss straight-edges ml-2" data-toggle="modal" data-target="#id_popup_sort">
                    <i class="fa fa-sort"></i> Sort </a>
                {% endif %}

                {% if filter_form and filter_layout == 'filter-layout-as-modal' %}
                <a href="javascript:void(0);" class="btn btn-secondary btn-xss straight-edges ml-2" data-toggle="modal" data-target="#id_popup_filter">
                    <i class="fa fa-filter"></i> Filter </a>
                {% endif %}

                {% for action in list_page_actions %}
                <a href="{{ action.url }}" class="btn btn-secondary btn-xss straight-edges ml-2 {{ action.name|slugify }}">
                    <i class="{{ action.icon_class }}"></i> {{ action.name }} </a>
                {% endfor %}
            </div>
        </div>

        {% if summary and summary_layout == 'summary-layout-top' %}
            <table class="table table-bordered">
                <tbody>
                    <tr>
                    {% for x in summary %}
                        <td>
                            {{ x.label }}<br />
                            <b>{{ x.value }}</b>
                        </td>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        {% endif %}

        {% if object_list.exists %}
            {% autopaginate object_list paginate_by as paged_results %}

            {% block list_paged_objects %}
            <table class="table table-bordered table-responsive">
                <thead class="thead-grey">
                    <tr>
                        <th>#</th>
                        {% for field in fields.list_fields %}
                            <th>{{ field.label|replace:" ,<span class='transparent'>_</span>"|safe }}</th>
                        {% endfor %}
                        {% if config_perms.can_view_detail %}
                        {% if fields.detail_fields or actions %}
                            <th></th>
                        {% endif %}
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for obj in paged_results %}
                    <tr>
                        <th>{{ forloop.counter|add:page_start_index }}</th>
                        {% for field in fields.list_fields %}
                            <td>
                                <span class="{{ field.name }}">
                                    {# obj|dotted_dict:field.attribute|default:"-" #}
                                    {% get_config_value obj config_class field.attribute %}
                                </span>
                            </td>
                        {% endfor %}
                        {% if config_perms.can_view_detail %}
                        {% if fields.detail_fields or actions %}
                            <td>
                                {% include "kdash_adminx/includes/detail_options.html" %}
                            </td>
                        {% endif %}
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endblock %}

            {% paginate using "website/includes/pagination.html" %}

        {% else %}
            <p>No results found.</p>
        {% endif %}

    </div>

    {% if filter_layout == 'filter-layout-as-sidebar' %}
    <div class="col-md-3">
        {% if summary and summary_layout == 'summary-layout-sidebar' %}
            <table class="table table-bordered">
                <caption>Summary</caption>
                <thead>
                    <tr>
                        <th>Label</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for x in summary %}
                        <tr>
                            <td>{{ x.label }}</td>
                            <td>{{ x.value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if filter_form %}
            <form action="" method="get">
            <div class="card filters">
                <div class="card-header">
                    <h5 class="card-title">Filters</h5>
                </div>
                <div class="card-body">
                    {% include "website/includes/material_form.html" with form=filter_form skip_csrf=1 %}
                    {% for form in sub_filter_forms %}
                        {% include "website/includes/material_form.html" with form=form skip_csrf=1 %}
                    {% endfor %}
                </div>
                <div class="card-footer p-0">

                    {% if filter_options_form %}
                    <div class="accordion" id="accordionExample">
                      <div class="card options">
                        <div class="card-header p-0" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link small float-right py-1 px-3" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Options <i class="fa fa-caret-down"></i>
                            </button>
                          </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                          <div class="card-body">
                            {% include "website/includes/material_form.html" with form=filter_options_form skip_csrf=1 %}
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endif %}

                    <div class="d-flex p-3 buttons">
                        <div class="">
                            <a href="." class="btn btn-outline-secondary btn-xs">Reset</a>
                        </div>
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-primary btn-sm btn-block">Proceed</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        {% endif %}
    </div>
    {% endif %}

</div>

    <form method="get" action="">
        {% if sort_form %}
            {% include "kdash/includes/popup_form.html" with name="sort" form=sort_form %}
        {% endif %}
        {% if filter_form %}
            {% include "kdash/includes/popup_form.html" with name="filter" form=filter_form %}
        {% endif %}
    </form>
    {% if summary %}
        {% include "kdash/includes/popup_summary.html" with name="summary" summary=summary %}
    {% endif %}


    {% addtoblock "js" %}
    <script type="text/javascript" src='{% static "kdash_adminx/js/adminx_actions.js" %}'></script>

    <script type="text/javascript">

        $(document).ready(function(){
            popupDelete();
        });

    </script>
    {% endaddtoblock %}

{% endblock %}