{% extends base_template_ %} 
{% load sekizai_tags %}


{% block right_actual_content %}
    {% if form_meta.header %}
        <h5>{{ form_meta.header }}</h5>
    {% endif %}

    <div class="d-flex flex-row mb-2">
        <div class="mr-auto">
            <h5>Manage: {{ dash_info.current_dash.label }}</h5>
        </div>  
        <div class="d-flex align-items-center">
            {% if detail_url and object_pk %}
            <a href="{{ detail_url }}" class="btn btn-info btn-xss straight-edges"> 
                <i class="fa fa-eye"></i> View Detail </a>
            {% endif %}
        </div>
    </div>

    {% if form_meta.caption %}
        <h6>{{ form_meta.caption }}</h6>
    {% endif %}

    <form method="post" action="{{ request.get_full_path }}" id="id_form{% if is_popup %}_popup{% endif %}" class="betterform">
        {% if form.base_fieldsets %}
            {% include 'betterforms/form_as_fieldsets.html' %}
        {% else %}
            {% include "website/includes/form.html" %}
        {% endif %}

        <div class="clearfix"></div>

        <div class="row mt-4">
            <div class="col-md-9">
                <div id="id_form_info_box{% if is_popup %}_popup{% endif %}">.</div>
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-secondary btn-sm straight-edges pull-right mb-2" 
                    id="id_submit{% if is_popup %}_popup{% endif %}">Submit</button>
            </div>
        </div>
    </form>

    {% comment %}
    <div class="card mb-3">
        {% if form_meta.caption %}
            <div class="card-header py-1">{{ form_meta.caption }}</div>
        {% endif %}
        <div class="card-body">
        </div>
    </div>
    {% endcomment %}

    {% if not is_popup %}
    <div class="modal fade" id="id_popup_modal" role="dialog" 
        aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow:hidden0;">
        <div class="modal-dialog" role="document">
            <div class="modal-content straight-edges">

                <div class="modal-header py-2 bg-brand straight-edges">
                    <h5 class="modal-title" id="id_popup_modal_title">Manage</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <i class="fa fa-spinner fa-spin fa-fw"></i>
                </div>

            </div>
        </div>
    </div>
    {% endif %}

    {% addtoblock "js" %}
    <script type="text/javascript">

        function toggleChangeIcon(input_id){
            var input_el = $('#' + input_id);
            var related_link_el = $('#' + input_id + '__related_change_icon');
            var related_span_el = $('#' + input_id + '__related_span_change_icon');
            
            if (input_el.val()){
                related_link_el.show();
                related_span_el.hide();
            }else{
                related_link_el.hide();
                related_span_el.show();
            }
        }

        function getPopupRelatedUrl(action, input_id){
            var base_url = '{% url "kdash_adminx:popup_related_controller" %}';

            var related_data_el = $('#' + input_id + '__related_data_container');
            var config_path = related_data_el.data("related-config-path");
            var params = related_data_el.data("related-params");

            var url = base_url + '?config_path=' + config_path + '&params=' + params;

            if (action == 'change'){
                var input_el = $('#' + input_id);
                url += '&pk=' + input_el.val();
            }

            return url
        }

        function submitPopupData(popup_modal_id, input_id, action){
            var field_el = $('#' + input_id);

            if (field_el.val() && action == 'change'){
                var url = getPopupRelatedUrl('change', input_id);
            }else{
                var url = getPopupRelatedUrl('add', input_id);
            }                

            $('#' + popup_modal_id).find('.modal-body').load(url, function() {
                var elem_info_box = $('#id_form_info_box_popup');
                elem_info_box.html('');

                // $('#' + popup_modal_id).find('#id_parent').select2('destroy').select2({
                //     dropdownParent: $('#id_popup_modal')
                // });

                $('#id_submit_popup').click(function( event ) {
                    elem_info_box.html('<i class="fa fa-spinner fa-spin fa-fw"></i>');
                    elem_info_box.css('color', 'black');

                    $.ajax({
                        method: "POST",
                        url: $('#id_form_popup').attr('action'),
                        data: $('#id_form_popup').serialize()

                        }).done(function(msg) {

                            if (msg.is_valid){
                                $(field_el).empty();
                                $(field_el).select2("trigger", "select", {
                                    data: {id: msg.resp_code, text: msg.resp_message}
                                });
                                $('#id_popup_modal').modal('toggle'); 

                            }else{
                                elem_info_box.css('color', 'red');
                                elem_info_box.html(msg.resp_message);
                            }

                        }).fail(function(jqXHR, textStatus) {
                            elem_info_box.css('color', 'red');
                            elem_info_box.html('Request failed. Please try again later');
                        });

                    event.preventDefault();
                });

            });
        }

        function initRelatedFields(){
            var related_fields = {{ related_fields|safe }};

            related_fields.forEach(function(element) {
                var input_id = 'id_' + element;

                toggleChangeIcon(input_id);

                $("#" + input_id).change(function( event ) {
                    toggleChangeIcon(input_id);
                });
            });
        }

        $(document).ready(function(){

            initRelatedFields();

            $('#id_popup_modal').on('show.bs.modal', function (e) {
                $(this).find('.modal-body').html('<i class="fa fa-spinner fa-spin fa-fw"></i>');

                var trigger_el = $(e.relatedTarget);
                var trigger_id = trigger_el.attr('id');
                var input_id = trigger_id.split('__')[0];

                var action = 'add';
                if (trigger_id.split('__')[1] == ('related_change_icon'))
                    action = 'change';

                submitPopupData('id_popup_modal', input_id, action); 

            });

            // $('select').on('select2:open', function (e) {
            // });
            // $('#id_popup_modal').on('hidden.bs.modal', function (e) {
            // });

        }); 
    </script>
    {% endaddtoblock %}

{% endblock %}


{% block footer %}
    {{ block.super }}
    {{ form.media }}
{% endblock %}